.cardForm {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
input,
select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #b8b8b8;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus {
  outline: 0;
  border-color: #bd8200;
}
input:focus + .input-icon i {
  color: #f0a500;
}
input:focus + .input-icon:after {
  border-right-color: #f0a500;
}
input:disabled {
  background-color: #e0dede;
}
label {
  margin-bottom: 7px;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
}
.inputGroup {
  margin-bottom: 1.5rem;
}
.validThruInput {
  display: flex;
}