@font-face {
  font-family: creditCard;
  src: url("../../assets/fonts/F25_Bank_Printer.otf");
  
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 1.618 / 1;
  padding: 15px 30px;
  margin-bottom: 60px;
  border-radius: 12px;
  width: 434px;
  text-align: left;
  text-transform: uppercase;
  background-color: rgb(105, 105, 105);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.blue {
  composes: card;
  background-color: rgb(111, 180, 255);
}

.cardInfoText {
  font-family: creditCard;
  color: #e2e2e2;
  text-shadow: -1px -1px #4f4f4f, 1px 1px #ffffff, 0 0 #000000;
}

.cardNumber {
  font-size: 26px;
}

.description {
  margin-bottom: 7px;
  font-size: 10px;
  color: rgb(92, 92, 92);
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.bottomLeft {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contactlessImg {
  width: 30px;
  align-self: end;
}

.chipImg {
  width: 60px;
  align-self: start;
}

.vendorLogo {
  width: 80px;
}

.validThru {
  align-self: end;
}